In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
ccba = pd.read_csv("data/inverse/ccba.csv")
ccba["byymm"] = pd.to_datetime(ccba["byymm"])
print(ccba.shape)
print("cust_id:", ccba["cust_id"].nunique())
ccba.head()

(59075, 10)
cust_id: 4745

,cust_id,lupay,byymm,cycam,usgam,clamt,csamt,inamt,cucsm,cucah
0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,3920.0,2021-04-01,134614.0,32316.0,0.0,0.0,3148.0,16576.0,0.0
1,0015cc01f553512007705edf855baa16f1b57a16fb107e...,16576.0,2021-05-01,134614.0,22280.0,0.0,0.0,3148.0,8653.0,0.0
2,0015cc01f553512007705edf855baa16f1b57a16fb107e...,8653.0,2021-06-01,134614.0,14771.0,0.0,0.0,3148.0,5045.0,0.0
3,0015cc01f553512007705edf855baa16f1b57a16fb107e...,5045.0,2021-07-01,134614.0,10954.0,0.0,0.0,3148.0,4334.0,0.0
4,0015cc01f553512007705edf855baa16f1b57a16fb107e...,4334.0,2021-08-01,134614.0,7544.0,0.0,0.0,3148.0,4396.0,0.0

In [3]:
ccba["amt_over"] = ccba.eval("usgam > cycam").astype(int)
ccba

,cust_id,lupay,byymm,cycam,usgam,clamt,csamt,inamt,cucsm,cucah,amt_over
0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,3920.0,2021-04-01,134614.0,32316.0,0.0,0.0,3148.0,16576.0,0.0,0
1,0015cc01f553512007705edf855baa16f1b57a16fb107e...,16576.0,2021-05-01,134614.0,22280.0,0.0,0.0,3148.0,8653.0,0.0,0
2,0015cc01f553512007705edf855baa16f1b57a16fb107e...,8653.0,2021-06-01,134614.0,14771.0,0.0,0.0,3148.0,5045.0,0.0,0
3,0015cc01f553512007705edf855baa16f1b57a16fb107e...,5045.0,2021-07-01,134614.0,10954.0,0.0,0.0,3148.0,4334.0,0.0,0
4,0015cc01f553512007705edf855baa16f1b57a16fb107e...,4334.0,2021-08-01,134614.0,7544.0,0.0,0.0,3148.0,4396.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
59070,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,0.0,2021-12-01,781570.0,63952.0,0.0,0.0,0.0,61927.0,0.0,0
59071,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,61927.0,2022-01-01,781570.0,37297.0,0.0,0.0,0.0,37276.0,0.0,0
59072,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,37297.0,2022-02-01,781570.0,45413.0,0.0,0.0,0.0,19766.0,0.0,0
59073,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,19766.0,2022-03-01,781570.0,26360.0,0.0,0.0,1142.0,2568.0,0.0,0
59074,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,2591.0,2022-04-01,781570.0,23903.0,0.0,0.0,5199.0,5199.0,0.0,0

In [4]:
ccba.to_csv("data/feat_gen/ccba.csv", index = False)