In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
raw = pd.read_csv("data/inverse/info.csv")
raw["date"] = pd.to_datetime(raw["date"])
print(raw.shape)
raw.head(3)

(25751, 8)

,alert_key,date,sar_flag,cust_id,risk_rank,occupation_code,total_asset,AGE
0,171142,2021-04-01,0.0,a39fea9aec90969fe66a2b2b4d1b86368a2d38e8b8d4bf...,3,12.0,241719.0,3
1,171152,2021-04-01,0.0,7e42b5dca9b28ee8e5545beb834361e90e6197d176b389...,3,13.0,599497.0,6
2,171177,2021-04-01,0.0,a6cdf6302aead77112013168c6d546d2df3bcb551956d2...,1,19.0,51160.0,4

In [3]:
# 職業缺失值
oucc = raw[["cust_id", "occupation_code"]]
oucc_null = oucc[oucc.isnull().any(axis = 1)]

for i in range(len(oucc_null)):
    id_ = oucc_null.iloc[i, 0]
    oucc_g = oucc.query("cust_id == @id_")
    
    occ_type = oucc_g["occupation_code"].unique()
    if len(occ_type) > 1:
        occ_type = occ_type[~ pd.isnull(occ_type)][0]

        raw.loc[oucc_null.index[i], "occupation_code"] = occ_type

In [4]:
# 職業剩餘的88個缺失值之SAR皆不為1，可刪除
keep_idx = raw["occupation_code"].dropna().index
raw = raw.loc[keep_idx].reset_index(drop = True)

In [5]:
# 各年齡各職業的資產平均數、標準差
mean = raw.groupby(["occupation_code", "AGE"])["total_asset"].mean()
std = raw.groupby(["occupation_code", "AGE"])["total_asset"].std()
std_map = std.to_dict()
mean_map = mean.to_dict()
mean_map

{(0.0, 2): 0.0,
 (1.0, 2): 818191.5309734513,
 (1.0, 3): 235430.03333333333,
 (1.0, 4): 234374.0,
 (1.0, 5): 387282.6666666667,
 (2.0, 2): 89235.66071428571,
 (2.0, 3): 274956.7291666667,
 (2.0, 4): 297673.05555555556,
 (2.0, 5): 84670.85714285714,
 (2.0, 6): 0.0,
 (3.0, 2): 43399.28571428572,
 (3.0, 3): 226870.3233082707,
 (3.0, 4): 799196.6140350878,
 (3.0, 5): 835695.4268292683,
 (3.0, 6): 304487.125,
 (3.0, 7): 165090.33333333334,
 (4.0, 1): 2606.0,
 (4.0, 2): 252332.23529411765,
 (4.0, 3): 391302.90983606555,
 (4.0, 4): 1227243.8192771084,
 (4.0, 5): 990876.78125,
 (4.0, 6): 1405333.2926829269,
 (4.0, 7): 21408077.185185187,
 (5.0, 1): 3245658.325,
 (5.0, 2): 420285.4618705036,
 (5.0, 3): 135680.45226130652,
 (5.0, 4): 71890.0,
 (5.0, 6): 396748.0,
 (6.0, 5): 723104.0,
 (7.0, 2): 234936.88888888888,
 (7.0, 3): 723278.3333333334,
 (7.0, 4): 1535524.205882353,
 (7.0, 5): 352774.0833333333,
 (7.0, 6): 1641177.4166666667,
 (8.0, 3): 831794.0,
 (8.0, 4): 256227.27472527474,
 (8.0, 5): 1486690.5609756098,
 (8.0, 7): 1878476.0,
 (9.0, 1): 7098959.0,
 (9.0, 2): 245827.43642611685,
 (9.0, 3): 489578.2121212121,
 (9.0, 4): 643711.2053571428,
 (9.0, 5): 1310552.9915730336,
 (9.0, 6): 2358729.3209876544,
 (9.0, 7): 2201989.88,
 (9.0, 8): 5923757.0,
 (10.0, 2): 41262.0,
 (10.0, 3): 144514.49056603774,
 (10.0, 4): 306921.86666666664,
 (10.0, 5): 1376853.5,
 (11.0, 2): 344704.84126984124,
 (11.0, 3): 369039.8717948718,
 (11.0, 4): 784339.421686747,
 (11.0, 5): 538889.4634146341,
 (11.0, 6): 381305.1785714286,
 (11.0, 7): 5695780.25,
 (12.0, 2): 460603.11147811724,
 (12.0, 3): 401031.1392146864,
 (12.0, 4): 400905.0024469821,
 (12.0, 5): 1287098.0943396227,
 (12.0, 6): 717389.5336787564,
 (12.0, 7): 439966.7368421053,
 (12.0, 8): 1054907.5882352942,
 (13.0, 1): 29699.666666666668,
 (13.0, 2): 208789.94520547945,
 (13.0, 3): 625675.8387096775,
 (13.0, 4): 394210.12666666665,
 (13.0, 5): 433438.8606557377,
 (13.0, 6): 455931.67741935485,
 (13.0, 7): 2305978.0,
 (14.0, 2): 473522.8032786885,
 (14.0, 3): 267628.9465648855,
 (14.0, 4): 646773.3979848867,
 (14.0, 5): 455653.95652173914,
 (14.0, 6): 703593.95,
 (14.0, 7): 360601.6666666667,
 (15.0, 2): 307533.3191489362,
 (15.0, 3): 439220.3581081081,
 (15.0, 4): 527089.6443768997,
 (15.0, 5): 268558.73745173746,
 (15.0, 6): 359020.0,
 (15.0, 7): 2204091.0,
 (16.0, 2): 32208.0,
 (16.0, 3): 954616.2252252252,
 (16.0, 4): 1066195.7397260275,
 (16.0, 5): 582953.9655172414,
 (16.0, 6): 123178.42857142857,
 (16.0, 7): 2775592.6,
 (17.0, 1): 97324.0,
 (17.0, 2): 214835.02579666162,
 (17.0, 3): 549108.0922890103,
 (17.0, 4): 826398.3693284936,
 (17.0, 5): 2602175.8451612904,
 (17.0, 6): 1300679.0297029703,
 (17.0, 7): 2085047.2702702703,
 (17.0, 8): 2077607.5,
 (18.0, 2): 751060.6188118812,
 (18.0, 3): 479946.17913043476,
 (18.0, 4): 1389603.0663716814,
 (18.0, 5): 867736.6377952755,
 (18.0, 6): 545861.7037037037,
 (18.0, 7): 1205903.68,
 (19.0, 0): 197455.0,
 (19.0, 1): 1280765.1860465116,
 (19.0, 2): 421223.1060344828,
 (19.0, 3): 307387.60822510824,
 (19.0, 4): 515747.3875598086,
 (19.0, 5): 976643.7798245614,
 (19.0, 6): 2189168.7410714286,
 (19.0, 7): 2553360.399317406,
 (19.0, 8): 2069970.9701492537,
 (19.0, 9): 6094653.540540541,
 (19.0, 10): 14.428571428571429,
 (20.0, 1): 1026.0,
 (20.0, 2): 18991.863636363636,
 (20.0, 3): 58558.74336283186,
 (20.0, 4): 24168.00835654596,
 (20.0, 5): 325.3144329896907,
 (20.0, 6): 241015.07692307694,
 (20.0, 7): 1508.5}

In [6]:
raw["asset_mean"] = pd.Series(zip(raw["occupation_code"], raw["AGE"])).map(mean_map)
raw["asset_std"] = pd.Series(zip(raw["occupation_code"], raw["AGE"])).map(std_map)
raw.head()

,alert_key,date,sar_flag,cust_id,risk_rank,occupation_code,total_asset,AGE,asset_mean,asset_std
0,171142,2021-04-01,0.0,a39fea9aec90969fe66a2b2b4d1b86368a2d38e8b8d4bf...,3,12.0,241719.0,3,4.010311e+05,6.808092e+05
1,171152,2021-04-01,0.0,7e42b5dca9b28ee8e5545beb834361e90e6197d176b389...,3,13.0,599497.0,6,4.559317e+05,5.957834e+05
2,171177,2021-04-01,0.0,a6cdf6302aead77112013168c6d546d2df3bcb551956d2...,1,19.0,51160.0,4,5.157474e+05,1.697903e+06
3,171178,2021-04-01,0.0,1a3efa69705f611c7ef2384a715c8142e2ee801cfec9df...,3,9.0,3634343.0,6,2.358729e+06,3.612973e+06
4,171180,2021-04-01,0.0,67f8cbb64dd3d447e992b1b299e0ceed3372188e47c88e...,1,17.0,4076287.0,4,8.263984e+05,1.911145e+06

In [9]:
raw["asset_std1"] = raw["asset_mean"] + raw["asset_std"]
raw["asset_over"] = raw.eval("total_asset > asset_std1").astype(int)
raw

,alert_key,date,sar_flag,cust_id,risk_rank,occupation_code,total_asset,AGE,asset_mean,asset_std,asset_std1,asset_over
0,171142,2021-04-01,0.0,a39fea9aec90969fe66a2b2b4d1b86368a2d38e8b8d4bf...,3,12.0,241719.0,3,4.010311e+05,6.808092e+05,1.081840e+06,0
1,171152,2021-04-01,0.0,7e42b5dca9b28ee8e5545beb834361e90e6197d176b389...,3,13.0,599497.0,6,4.559317e+05,5.957834e+05,1.051715e+06,0
2,171177,2021-04-01,0.0,a6cdf6302aead77112013168c6d546d2df3bcb551956d2...,1,19.0,51160.0,4,5.157474e+05,1.697903e+06,2.213650e+06,0
3,171178,2021-04-01,0.0,1a3efa69705f611c7ef2384a715c8142e2ee801cfec9df...,3,9.0,3634343.0,6,2.358729e+06,3.612973e+06,5.971702e+06,0
4,171180,2021-04-01,0.0,67f8cbb64dd3d447e992b1b299e0ceed3372188e47c88e...,1,17.0,4076287.0,4,8.263984e+05,1.911145e+06,2.737544e+06,1
...,...,...,...,...,...,...,...,...,...,...,...,...
25658,365001,2022-04-29,NaN,18ee644a371548e9780d701aaa7e0c8c42a7794cdee755...,1,17.0,135072.0,3,5.491081e+05,1.050998e+06,1.600106e+06,0
25659,365004,2022-04-29,NaN,7f69fa9eab8f397d367e2bb61ee1fa008999a0aab91e06...,3,12.0,2285386.0,3,4.010311e+05,6.808092e+05,1.081840e+06,1
25660,365008,2022-04-29,NaN,12c9e6d35500d2a96fc2b22a9da8e3deb6048de515a16e...,3,19.0,1230244.0,2,4.212231e+05,1.069082e+06,1.490305e+06,0
25661,365009,2022-04-29,NaN,d24d46c19002ab1f9a02801af5e4be6a154b3c5adc0417...,1,17.0,162418.0,2,2.148350e+05,3.956614e+05,6.104965e+05,0
25662,365073,2022-04-29,NaN,7224e3a067b5e90c9b2a5bdbcfe81884505ab44f0566ae...,3,19.0,83133.0,3,3.073876e+05,6.145056e+05,9.218932e+05,0

In [13]:
raw.query("(sar_flag == 1) & (asset_over == 1)")

,alert_key,date,sar_flag,cust_id,risk_rank,occupation_code,total_asset,AGE,asset_mean,asset_std,asset_std1,asset_over
1594,177788,2021-04-13,1.0,6400e6bb0fea2dc8410931f6eaf99e9513e4c025f9c9c2...,1,15.0,1744729.0,5,2.685587e+05,6.386983e+05,9.072571e+05,1
2518,182686,2021-04-22,1.0,c550e92641bad9c3f314f489be543aa9066c7c09adbff9...,1,9.0,3626612.0,4,6.437112e+05,1.283318e+06,1.927029e+06,1
3361,188572,2021-05-06,1.0,36c96f886054b13855e0531cfc53562de5acdada08fb75...,1,14.0,894961.0,3,2.676289e+05,2.712430e+05,5.388719e+05,1
3458,189313,2021-05-07,1.0,4d091ad9088eaed3bca5ab363b8bb75ae150e0738b2e76...,1,15.0,851551.0,2,3.075333e+05,3.430598e+05,6.505932e+05,1
3539,189855,2021-05-10,1.0,5064baf3657deb3fcbad37374eaf3f8791be657af0fb53...,1,3.0,852118.0,3,2.268703e+05,2.549657e+05,4.818360e+05,1
3910,192504,2021-05-14,1.0,d2dc1508f82cfb8eb2d179fddef8429ee57e4b0a7d7889...,1,17.0,1526684.0,2,2.148350e+05,3.956614e+05,6.104965e+05,1
4420,196191,2021-05-24,1.0,e7bcfe4ed604a24b9ef86224fdcd01f05ea0a83767f8bf...,3,1.0,1527007.0,2,8.181915e+05,6.622584e+05,1.480450e+06,1
4739,199050,2021-05-31,1.0,df830613581d9a458b9666e88f2329225b340bf9bb23f4...,1,12.0,1481638.0,4,4.009050e+05,9.633717e+05,1.364277e+06,1
4986,201003,2021-06-04,1.0,c148b9367525107b38756125576825b27a0d296adc443b...,1,18.0,7839972.0,3,4.799462e+05,8.264216e+05,1.306368e+06,1
5543,205149,2021-06-16,1.0,1cd97f3337c16bd86b4ef53f997ea89ce1946e38fee6d7...,1,19.0,3091573.0,4,5.157474e+05,1.697903e+06,2.213650e+06,1
6170,210143,2021-06-28,1.0,3c6af9929525d8731180045c9a23fbb743f1b237e4d886...,3,11.0,7209419.0,4,7.843394e+05,1.248075e+06,2.032414e+06,1
6520,213346,2021-07-05,1.0,860ffe0bebbfdf538aa2b37058c3dfc754e8aa07f00044...,1,12.0,5212671.0,3,4.010311e+05,6.808092e+05,1.081840e+06,1
7963,225536,2021-08-03,1.0,7839d4c8706c0b3d3e32ec3b0c1f7f3db8bc0bbf1d690f...,1,19.0,14424881.0,8,2.069971e+06,3.208020e+06,5.277991e+06,1
8325,228734,2021-08-09,1.0,cf91c78e57d4363842be5a8a771d622596821d19ebff86...,1,9.0,8414780.0,5,1.310553e+06,3.016417e+06,4.326970e+06,1
8473,229728,2021-08-10,1.0,0b74d17ae7ac0a81cc1a71fd6977820f1e4b98b897062b...,1,13.0,974668.0,2,2.087899e+05,4.254697e+05,6.342596e+05,1
11511,255967,2021-10-05,1.0,5a63790743a32518d5a9370cb5859c5db9f848210250e0...,1,12.0,2013867.0,2,4.606031e+05,8.734310e+05,1.334034e+06,1
11648,257134,2021-10-07,1.0,e39e63e092314d29c504836eb5567fc78a5e6e1f6e20a0...,1,12.0,1391473.0,4,4.009050e+05,9.633717e+05,1.364277e+06,1
11932,259393,2021-10-13,1.0,113bbf4d9ca61d67f2b2df17072034c16bbd2990d14e3b...,1,17.0,1857334.0,2,2.148350e+05,3.956614e+05,6.104965e+05,1
12116,261171,2021-10-18,1.0,06904a74a3b04d5f0c6cc7e0fab6cd10661e8ec9ccb302...,1,12.0,2868953.0,4,4.009050e+05,9.633717e+05,1.364277e+06,1
12542,264338,2021-10-25,1.0,5e152a0681d80fb45a204c92517ef2fa479dddeb3b0190...,1,4.0,3985908.0,5,9.908768e+05,2.948506e+06,3.939382e+06,1
14806,283568,2021-12-01,1.0,e927e2a3868b3130f8df9cafe0558bc95498320f39486c...,1,14.0,12679278.0,4,6.467734e+05,7.665402e+05,1.413314e+06,1
15678,291994,2021-12-14,1.0,6dd542e664442f3b395664e727a58bb9d5ea2e5f2c5549...,1,12.0,1716886.0,3,4.010311e+05,6.808092e+05,1.081840e+06,1
18542,311651,2022-01-14,1.0,baef074612d5a73e1324157a1a5e38e03f7ad150404db0...,1,12.0,8322228.0,4,4.009050e+05,9.633717e+05,1.364277e+06,1
18629,312295,2021-12-30,1.0,43b1b81d9c666b34cc6bd0c097d129f84ec5ca5714ed69...,1,12.0,1443936.0,4,4.009050e+05,9.633717e+05,1.364277e+06,1
18822,313558,2022-01-17,1.0,123b9e193e4ebef652be6e48276b35a2981b66f8bfb2bb...,1,12.0,3555871.0,3,4.010311e+05,6.808092e+05,1.081840e+06,1
19236,316664,2022-01-18,1.0,bcf5dc9d464a660377f39ffdf2388cc68859d04448c372...,2,13.0,3702179.0,4,3.942101e+05,7.319734e+05,1.126184e+06,1
23431,348724,2022-03-25,1.0,2f4011af820fb0a91313221c6cc2b649495a5cb05aed82...,1,19.0,2439013.0,2,4.212231e+05,1.069082e+06,1.490305e+06,1

In [7]:
raw["asset_pct"] = (raw["total_asset"]/raw["asset_mean"])
raw["asset_pct"] = raw["asset_pct"].replace(np.inf, 0)
raw["asset_pct"] = raw["asset_pct"].fillna( 0)

KeyError: 'asset_medain'

In [ ]:
raw = raw.drop(["asset_mean"], axis = 1)

In [ ]:
raw.to_csv("data/feat_gen/info.csv", index = False)